@model CmsShoppingCart.Models.ViewModels.Cart.CartVM

<li class="nav-item right-nav-li">
    @Html.ActionLink("לעגלה", "Index", null, new { @class = "nav-link" })
    <div class="ajaxcart">
        @Model.Quantity
        <br />
        @*@Html.ActionLink("Checkout", "Index", null, new { @class = "nav-link" })*@
    </div>
</li>

